#wrapper{
margin: 1em auto;
padding: 0;
width: 960px;
border: 1px; solid: #ff0000;
background color: #fffff;
display: grid;
grid template-columns: repeat(6,1fr)
}

body{ background-color: #999999;


}

nav{
    }

    nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

nav li a {
    width: 200px;
}

nav li a{
    display: block;
    background-color: red;
    border: 1px solid black;
    padding: 1em;
    color: white;
    text-decoration: none;
}
  
main {
    grid-column: span 4;
    margin: 4px;
}

main img {
 float: left;
}




aside {
    grid-column: span 1;
    background-color: red;
    color: white;
}

footer {
    background-color: orange;

}
    